table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

#main-header{
    text-align: center;
}

#new-coffee-header{
    text-align: center;
}

p{
    color: grey;
    margin-bottom: 0;
    margin-left: 5px;
}

#coffee{
    display: flex;
    flex-flow: column wrap;
    height: 400px;
    align-content: space-evenly;
}

#coffee div{
    display: flex;
    align-items: center;
}

