table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

#main-header{
    text-align: center;
}

#new-coffee-header{
    text-align: center;
}

ul{
    list-style: none;
}

ul li{
    display: flex;
    align-items: center;
}

p{
    color: grey;
    margin-bottom: 0;
    margin-left: 5px;
}